/* HighContrast theme variant */

@define-color phog_fg_color black;
@define-color phog_bg_color white;

@define-color phog_borders_color alpha(@phog_fg_color,.1);

@define-color phog_activity_bg_color #e5e5e5;
@define-color phog_notification_bg_color #e0e0e0;
@define-color phog_splash_bg_color @theme_bg_color;
@define-color phog_splash_fg_color @theme_fg_color;

/* Button Colors */
@define-color phog_button_bg_color #e0e0e0;
@define-color phog_button_active_bg_color shade(@phog_button_bg_color, 0.9);
@define-color phog_button_hover_bg_color shade(@phog_button_bg_color, 1.1);

@import url("resource:///org/mobian/phog/stylesheet/common.css");

#top-bar, #home-bar {
  border-width: 1px;
  border-radius: 0;
  border-style: solid;
}
